<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" href="../static/general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/functions.js"></script>
</head>
<body>
  <div class="container">
    <div class="header">
      <a href="..\index.html">Home</a>
      <a href="projects.html">Projects</a>
      <a href="writing.html">Writing</a>
  </div>
    <h1>Assorted favorites</h1>
    <ul>
      <li><em>The Unbearable Lightness of Being</em> by Milan Kundera</li>
      <li><a href="https://www.coreatcu.com/" target="_blank">Columbia Organization of Rising Entrepreneurs</a></li>
      <li><a href="https://open.spotify.com/artist/0epOFNiUfyON9EYx7Tpr6V?si=YJ2bOZY6QUG3PtLe3sA_Qw" target="_blank">The Strokes</a></li>
      <li><a href="https://www.math.columbia.edu/programs-math/undergraduate-program/undergraduate-research/csuremm/" target="_blank">Math program</a> from last summer</li>
      <li>Olive oil gelato from L'industrie</li>
      <li>Retiro Park in Madrid</li>
      <li>Riverside Park in NYC</li>
      <li>Strava</li>
      <li>Lichess for puzzles, chess.com for games</li>
    </ul>
  </div>
</body>
</html>
