<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Favorites</title>
    <link rel="stylesheet" href="../static/general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap" rel="stylesheet">
    <script src="../static/functions.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JF9CRBJPGD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JF9CRBJPGD');
</script>
<body>
  <div class="container">
    <div class="header">
      <a href="..\index.html">Home</a>
      <a href="about.html" data-text="About">About</a>
      <a href="projects.html">Projects</a>
  </div>
    <h1>Assorted favorites</h1>
    <ul>
      <li><em>The Unbearable Lightness of Being</em> by Milan Kundera</li>
      <li><a href="https://www.coreatcu.com/" target="_blank">Columbia Organization of Rising Entrepreneurs</a></li>
      <li><a href="https://www.thestrokes.com/" target="_blank">The Strokes</a></li>
      <li><a href="https://www.math.columbia.edu/programs-math/undergraduate-program/undergraduate-research/csuremm/" target="_blank">Math program</a> from  summer 2024</li>
      <li>Olive oil gelato from L'industrie</li>
      <li>Retiro Park in Madrid</li>
      <li>Riverside Park in NYC</li>
      <li>Strava</li>
      <li><a href="https://lichess.org/" target="_blank">Lichess</a> for puzzles, <a href="https://chess.com/" target="_blank">chess.com</a> for games</li>
      <li>
        <a href="https://www.nytimes.com/column/hard-fork" target="_blank">Hard Fork</a>
      </li>
    </ul>
  </div>
</body>
</html>
