<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/general.css">
    <title>Caroline Smyth</title>
</head>
<body>
    <div class="header">
        <a href="">Home</a>
        <a href="projects.html">Projects</a>
        <a href="lists.html">Favorites</a>
    </div>
    <div class="container">
    <h2>Hi, I'm Caroline!</h2>
    <p>I'm a junior at Columbia studying applied math and computer science.</p>
    <p>I like making stuff:</p>
    <ul>
        <li>All Columbia dining hall menus on one page: <a href="https://liondine.com">liondine.com</a></li>
        <li>Meal swipe trading: <a href="https://swipemarketcu.com">swipemarketcu.com</a></li>
    </ul>
    <p>I do freelance writing for Letterbrace, a technical content writing boutique founded by a Columbia Engineering and YC alum.</p>
    <p>I've served on the board and really love the Columbia Organization of Rising Entrepreneurs</p>
    <p>I did a math modeling project about the NYC subway system and how it relates to public high school performance last summer</p>
    <p>I led a fellowship that matches CU undergrads with startups for internships (~150 students matched)</p>
</div>
</body>
</html>
