<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <title>Caroline Smyth</title>
</head>
<body>
    <div class="header">
        <a href="">Home</a>
        <a href="projects.html">Projects</a>
        <a href="writing.html">Writing</a>
        <a href="lists.html">Favorites</a>
    </div>
    <div class="container">
    <h1>Hi, I'm Caroline!</h1>
    <p>I'm a junior at Columbia studying applied math and computer science.</p>
    <p>I like making stuff:</p>
    <ul>
        <li>All Columbia dining hall menus on one page: <a href="https://liondine.com" target="_blank">liondine.com</a></li>
        <li>Meal swipe trading: <a href="https://swipemarketcu.com" target="_blank">swipemarketcu.com</a></li>
    </ul>
    <p>I do freelance writing for <a href="https://letterbrace.com" target="_blank">Letterbrace</a>, a technical content writing boutique founded by Columbia Eng. and YC alum <a href="https://www.linkedin.com/in/mathew-pregasen-9a993948/" target="_blank">Mathew Pregasen</a></p>
    <p>I've served on the board and really love the <a href="https://www.coreatcu.com/" target="_blank">Columbia Organization of Rising Entrepreneurs</a></p>
    <p>I did a math modeling project about the NYC subway system and how it relates to public high school performance last summer</p>
    <p>I led a fellowship that matches CU undergrads with startups for internships (~130 students matched)</p>
</div>
</body>
</html>
