<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" href="/static/general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="/static/functions.js"></script>
</head>
<body>
  <div class="header">
    <a href="index.html" data-text="Home">Home</a>
    <a href="projects.html" data-text="Projects">Projects</a>
    <a href="writing.html" data-text="Writing">Writing</a>
  </div>
  <div class="container">
    <h1>Assorted favorites</h1>
    <ul>
      <li>The Unbearable Lightness of Being by Milan Kundera</li>
      <li><a href="https://www.coreatcu.com/" target="_blank">Columbia Organization of Rising Entrepreneurs</a></li>
      <li>The Strokes</li>
      <li>Dr. George Dragomir, who advised my math program last summer</li>
      <li>Olive oil gelato from L'industrie</li>
      <li>Retiro Park in Madrid</li>
      <li>Riverside Park in NYC</li>
      <li>Chess.com</li>
    </ul>
    <!--
    <div class="list-card">
      <h2>Books</h2>
      <ul>
        <li>The Unbearable Lightness of Being by Milan Kundera: all time favorite</li>
        <li>Norwegian Wood by Haruki Murakami</li>
        <li>Severance by Ling Ma</li>
        <li>The Idiot by Elif Batuman</li>
        <li>Absolutely on Music by Haruki Murakami: my first Murakami</li>
        <li>If Beale Street Could Talk by James Baldwin</li>
        <li>A Spy in the House of Love by Anais Nin</li>
        <li>Where Reasons End by Yiyun Li</li>
      </ul>
    </div>
    <div class="list-card">
      <h2>Songs</h2>
      <ul>
        <li>
          <a href="https://open.spotify.com/track/4UF1eupXP9Zz5GpYepyOxI?si=5471f23583b04f4d" target="_blank">Razorblade</a> by The Strokes
        </li>
        <li>
          <a href="https://open.spotify.com/track/6Yu1OL8I0D4vjOzYdsXYGK?si=4f901cc85e5d4250" target="_blank">12:51</a> by The Strokes
        </li>
        <li>
          <a href="https://open.spotify.com/track/2UvMgTm9y3lStOyQE2yxKA?si=b37f129e7c54404e" target="_blank">Cotton Candy</a> by Weston Estate
        </li>
        <li>
          <a href="https://open.spotify.com/track/4YZbVct8l9MnAVIROnLQdx?si=3366380e57dd409d" target="_blank">Forrest Gump</a> by Frank Ocean
        </li>
        <li>
          <a href="https://open.spotify.com/track/5SUlhldQJtOhUr2GzH5RI7?si=e630cd2721654954" target="_blank">Nowhere Man</a> by The Beatles
        </li>
        <li>
          <a href="https://open.spotify.com/track/3ly60iOVqcsdtlMhQ8FcE1?si=ebbc139591fa4841" target="_blank">AMEN</a> by Beyonce
        </li>
        <li>
          <a href="https://open.spotify.com/track/7kSmQCEQHvSYrUUyPpAz8n?si=763d13cc92534ee0" target="_blank">Challengers: Match Point</a> by Trent Reznor and Atticus Ross
        </li>
        <li>
          <a href="https://open.spotify.com/track/1p2TWJxUlHE5JR0sE6E1d7?si=cd7d37d840fc4669" target="_blank">Best to You</a> by Blood Orange
        </li>
        <li>
          <a href="https://open.spotify.com/track/5TFD2bmFKGhoCRbX61nXY5?si=496b277ebbba4c63" target="_blank">NUEVAYoL</a> by Bad Bunny
        </li>
      </ul>
    </div>
    <div class="list-card">
      <h2>New York</h2>
      <h3>Activities</h3>
      <ul>
        <li>Running in Riverside Park: particularly around 7pm in the summer</li>
        <li>CitiBiking</li>
        <li>Lindustrie pizza and chess picnic on the West Side Highway</li>
        <li>Free Fridays at the Whitney</li>
        <li>Solidcore</li>
        <li>Jazz night out</li>
      </ul>
      <h3>Matcha</h3>
      <ul>
        <li>Setsugekka East Village: worth the trek to the East Village</li>
        <li>Larry's Ca Phe: worth the trek to Brooklyn</li>
        <li>Kijitora: add strawberry</li>
        <li>Davelle: add coffee jelly</li>
      </ul>
      <h3>Food</h3>
      <ul>
        <li>Bangkok Supper Club: special occasion Thai</li>
        <li>C as in Charlie: Korean and Southern fusion, exactly me</li>
        <li>Che Li: then Mango Mango for dessert right next door</li>
        <li>Pure Thai Cookhouse: for pad see ew craving</li>
        <li>Cho Dang Gol: get in line at 5, no reservations</li>
        <li>The Izakaya: supreme omelette</li>
        <li>Rule of Thirds: big fluffy pancakes</li>
        <li>Los Tacos No. 1: run from Columbia to Chelsea Market location on the WSH</li>
        <li>Saiguette: banh mi worth a rainy walk</li>
        <li>Chama Mama: a few locations in the city</li>
        <li>Happy Hot Hunan: comfort dinner, bring a few friends and share</li>
      </ul>
      <h3>Bars</h3>
      <ul>
        <li>Sake Bar Decibel: undefeated sake and tuna</li>
        <li>Tiki Chick: delightful drink vessels and $5 chicken sandwiches</li>
        <li>Double Chicken Please: try the Japanese Cold Noodle </li>
        <li>Angel's Share: try Painted Paradise and Street Scene</li>
        <li>929: Long Island City gem</li>
        <li>Reception: Korean inspired</li>
      </ul>
    </div>
  </div>
-->
</body>
</html>
