<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Projects</title>
    
    <link rel="stylesheet" href="../static/general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap" rel="stylesheet">
    <title>Caroline Smyth</title>
    <script src="../static/functions.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JF9CRBJPGD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JF9CRBJPGD');
</script>
<body>
    <div class="container">
      <div class="header">
        <a href="..\index.html">Home</a>
        <a href="about.html" data-text="About">About</a>
        <a href="">Projects</a>

      </div>
    <h1>Projects</h1>
    <p>For users:</p>
    <ul>
        <li><a href="https://swipemarketcu.com" target="_blank">Swipe Market</a>: the only platform at Columbia for students to buy, sell, and donate meal swipes. $7000+ of swipes traded</li>
        <li><a href="https://liondine.com" target="_blank">Lion Dine</a>: the de facto place for the Columbia student body to check dining options - displays all the dining hall menus on one page. 3k+ daily users, 1.5M+ lifetime views. Acquired by Spectator Publishing Company</li> 
        <li style="margin-left: 2rem;">Both made with <a href="https://owenterry.xyz/index.html" target="_blank">Owen Terry</a></li>
    </ul>
    <p>Research:</p>
    <ul>
      <li>
        Summer 2025: I'm working on modeling capital distributions via rank-based particle systems, advised by <a href="https://scholar.google.com/citations?user=AC-bMRoAAAAJ&hl=en" target="_blank">Dr. Graeme Baker</a>
    </li>
      <li>Summer 2024: I did a <a href="https://github.com/sandrazelen/Impact-of-Subway-Station-Centrality-on-Manhattan-Public-High-School-Performance" target="_blank">math modeling project</a> with <a href="https://www.linkedin.com/in/kathy-x-u/" target="_blank">Kathy Xu</a> and <a href="https://www.linkedin.com/in/sandra-zelen/" target="_blank">Sandra Zelen</a> about the NYC subway system and how it relates to public high school performance. Presented at Jane Street Summer Math Day</li>
  </ul>
  <p>Assorted:</p>
  <ul>
    <li><a href="https://www.youtube.com/@EarnTheRightPodcast" target="_blank">Earn The Right</a> podcast</li>
    <li>Matched ~100+ Columbia students with NYC-based startup internships through the <a href="https://www.core-fellowship.com/" target="_blank">CORE Fellowship</a></li>
    <li>Writing for <a href="https://www.letterbrace.com/" target="_blank">Letterbrace</a></li>
  </ul>
  </div>
</body>
</html>
