<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writing</title>
    <link rel="stylesheet" href="/static/general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head> 
<body>
    <div class="header">
        <a href="index.html" data-text="Home">Home</a>
        <a href="projects.html" data-text="Projects">Projects</a>
        <a href="writing.html" class="active" data-text="Writing">Writing</a>
    </div>      
    <div class="container"> 
      <h1>Writing</h1>
      <p><a href="run.html">What I think about when I think about running</a></p>
      <p><a href="surreal.html">1920's Surrealism and AI Generated Hands with Seven Fingers</a></p>
      <p><a href="rote.html">Rote Memorization as the Last Stronghold of Education</a></p>
      <p><a href="performative.html">Can Wokeness be Unperformative?</a></p>
      <p><a href="lastbite.html">Last Bite</a></p>
      <p><a href="pauls.html">18 at Paul's & the Lawns</a></p>
      <p><a href="religious.html">Things That Feel Religious to Me</a></p>
      <p><a href="prechewed.html">Do You Like Your Food Prechewed?</a></p>
      <p>Constantly Saddling Events</p>
      <p>Superfan</p>
      <p>Marla Singer and the Male Gaze in Fight Club</p>
      <p>Charli Damelio</p>
    </div>
</body>
</html>


